<div class="jumbotron text-center">
    <a href="/icecreams" class="btn btn-primary">View all Ice Creams</a>
    <a href="/icecreams/jawbreakers" class="btn btn-primary">View Jawbeakers Flavors</a>
</div>
